In [159]:
import folium

In [160]:
import pandas as pd

In [161]:
dataset = pd.read_excel('ourhospitals.xlsx')

In [162]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       201 non-null    object
 1   Latitude   201 non-null    float64
 2   Longitude  201 non-null    float64
 3   Value      201 non-null    int64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.4+ KB

In [163]:
dataset.columns

Index(['Name', 'Latitude', 'Longitude', 'Value'], dtype='object')

In [164]:
imap = folium.Map(loccation=[20.04948,64.40497],zoom_start =10,max_zoom=10,tiles='stamenterrain')

In [165]:
place = dataset[['Latitude','Longitude']]

In [166]:
type(place)

pandas.core.frame.DataFrame

In [167]:
place = place.values.tolist()

In [168]:
def mp(i,color):
    folium.Marker(location=point,
                 popup=dataset['Name'][i],
                 icon=folium.Icon(color=color,icon='tint',icon_color='white')).add_to(imap)

In [173]:
i=0
for point in place:
    if dataset ['Value'][i] >= 5:
        mp(i,'red')
    else:
        mp(i,'green')
        i+=1

In [174]:

imap.save('stamenterrainMapnew.html')

In [138]:
imap.save('ourmapymapnewestlynew1L6.html')

In [51]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       201 non-null    object
 1   Latitude   201 non-null    float64
 2   Longitude  201 non-null    float64
 3   Value      201 non-null    int64
dtypes: float64(2), int64(1), object(1)
memory usage: 6.4+ KB